<div id="<%= dom_id virtual_user %>">
  <p>
    <strong>Last name:</strong>
    <%= virtual_user.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= virtual_user.first_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= virtual_user.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= virtual_user.email %>
  </p>

  <p>
    <strong>Civ style:</strong>
    <%= virtual_user.civ_style %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= virtual_user.birthdate %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= virtual_user.domain %>
  </p>

</div>
