<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Nickname:</strong>
    <%= pokemon.nickname %>
  </p>

  <p>
    <strong>Kana:</strong>
    <%= pokemon.kana %>
  </p>

  <p>
    <strong>Registry cellphone:</strong>
    <%= pokemon.registry_cellphone %>
  </p>

  <p>
    <strong>Registry postcode:</strong>
    <%= pokemon.registry_postcode %>
  </p>

  <p>
    <strong>Registry fandi:</strong>
    <%= pokemon.registry_fandi %>
  </p>

  <p>
    <strong>Reg password:</strong>
    <%= pokemon.reg_password %>
  </p>

  <p>
    <strong>Virtual user:</strong>
    <%= pokemon.virtual_user_id %>
  </p>

</div>
