<tr id="<%= dom_id parsed_email_record %>">
  <td><%= parsed_email_record.email %></td>
  <td><%= parse_type(parsed_email_record.type) %></td>
  <td><%= parsed_email_record.sent_at %></td>
  <td><%= parsed_email_record.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
  <td class="text-end">
    <div style="display:flex;justify-content:flex-end;">
      <%= link_to '原始邮件', original_mail_parsed_email_record_path(parsed_email_record), class: 'btn btn-link p-0' %>
      <%= link_to '详情', parsed_email_record_path(parsed_email_record), class: 'btn btn-link p-0' %>
    </div>
  </td>
</tr>
