<div id="<%= dom_id parsed_email_record %>">
  <p>
    <strong>Inbound email:</strong>
    <%= parsed_email_record.inbound_email_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= parsed_email_record.email %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= parsed_email_record.type %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= parsed_email_record.data %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= parsed_email_record.sent_at %>
  </p>

</div>
